
.anime-section {
  /* background-color: #1e1e2f; */
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.section-heading {
  font-size: 20px;
  color: #f0f0f0;
  margin-bottom: 1.5rem;
  text-align: center;
}

.card-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.anime-card {
  background: #2b2b44;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.anime-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.anime-img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.anime-name {
  background-color:  #2b2b44;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
}

.no-data {
  text-align: center;
  font-size: 1.2rem;
  color: #aaa;
  padding: 2rem 0;
}

.back-button {
  position: fixed;      
  bottom: 20px;        
  left: 50%;            
  transform: translateX(-50%);
  z-index: 1000;        
}

.back-name {
  background-color: #8dbef6; 
  color: #555454;              
  padding: 12px 20px;        
  border-radius: 20px;      
  text-decoration: none;     
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  transition: background-color 0.3s;
}

.back-name:hover {
  background-color: #ff4242; 
}

