/* login.css */

/* Page background */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Login box */
.login-box {
  background-color: #b6a983;
  padding: 40px; 
  padding-right: 5%;
  border-radius: 15px;
  box-shadow: 1px 1px 15px 5px rgb(244, 243, 182); 
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s ease;
}

.login-box:hover {
  transform: translateY(-5px);
}

/* Heading */
.login-box.login-box-heading {
  margin-bottom: 20px;
  color: #333;
  font-size: 28px;
}

/* Input fields */
.login-box input {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #000000;
  background: rgb(231, 234, 196);
  font-size: 16px;
  transition: all 0.3s ease;
}

.login-box input:focus {
  border-color: #e3f7a9;
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
  outline: none;
}

/* Error / message */
.login-box .msg {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Button */
.login-button {
  width: 80%;
  margin-left: 10%;
  padding: 12px 15px;
  margin-top: 10px;
  background: #4a4e30;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  /* margin: auto; */
}

.login-button:hover {
  background: #11bbcb;
  transform: translateY(-2px);
}

.login-box button:disabled {
  background: #aaa;
  cursor: not-allowed;
  transform: none;
}
.toggle-text{
 cursor: pointer;
}

/* Responsive design */
@media (max-width: 480px) {
  .login-box {
    /* padding: 30px 20px; */
    width: 80%;
    height: 40%;
  }
  .login-box input{
    width: 90%;
  }

  .login-box.login-box-heading {
    font-size: 24px;
  }

  .login-button {
    margin-right:10% ;
    font-size: 16px;
  }
}
 