/* === MAIN CONTAINER === */
.book-details {
  background: linear-gradient(135deg, #0a0a0a, #1e1e1e);
  color: #fff;
  min-height: 100vh;
  padding: 40px;
  font-family: 'Poppins', sans-serif;
}

/* === HEADER === */
.book-header {
  display: flex;
  margin-bottom: 40px;
  gap: 20px;
}

.book-image {
  width: 200px;
  height: 300px;  
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 0, 100, 0.3);
  object-fit: cover;
  transition: transform 0.3s ease;
} 

.book-image:hover {
  transform: scale(1.05);
} 

.book-info-h {
  font-size: 35px;
  color: #8bcdf6;
  margin-bottom: 10px;
}

.book-info-p {
  font-size: 1.2rem;
  color: #bbeaf8;
}

/* === PDF VIEWER SECTION === */
.book-content {
  margin-top: 20px;
  border-radius: 10px;
  max-height: 800px;
  overflow-y: auto;
  padding: 10px;
}

.book-content iframe {
  width: 80%;
  height: 600px;
  border: none;
  border-radius: 10px;
  display: block;
  margin: auto;
}


.book-content-header {
  margin-bottom: 15px;
  border-left: 4px solid #f7a37c;
  color: #f3bca3;
}

/* === BACK BUTTON === */
.back-btn-container {
  position: fixed;     
  bottom: 20px;        
  right: 20px;         
  z-index: 9999;       
}

.back-home {
  background: linear-gradient(90deg, #606431, #9ae1f4);
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 450;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3); 
}

.back-home:hover {
  background: linear-gradient(90deg, #606431, #9ae1f4);
   transform: scale(1.08);
}

/* === ERROR / LOADING === */
.error,
.loading {
  text-align: center;
  color: #ff80ab;
  font-size: 1.4rem;
  margin-top: 50px;
}
