/* === MAIN CONTAINER === */
.anime-details {
  background: linear-gradient(135deg, #0a0a0a, #1e1e1e);
  color: #fff;
  min-height: 100vh;
  padding: 40px;
  font-family: 'Poppins', sans-serif;
}

/* === HEADER === */
.anime-header {
  display: flex;
  margin: auto;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 10px;
  margin-bottom: 40px;
}

.anime-image {
  margin-right: 10px;
  width: 200px;
  height: 300px;  
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 0, 100, 0.3);
  object-fit: cover;
  transition: transform 0.3s ease;
} 

 .anime-image:hover {
  transform: scale(1.05);
} 

.anime-info h1 {
  font-size: 35px;
  color: #8bcdf6;
  margin-bottom: 10px;
}

.anime-info p {
  font-size: 1.2rem;
  color: #bbeaf8;
}

/* === VIDEO SECTION === */
.anime-videos {
  text-align: center;
}

.anime-videos h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f3bca3;
}

/* === VIDEO GRID === */
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  justify-content: flex-start;
}

.video-card {
  border-radius: 20px;
  width: 72%;
}

.video-card h3 {
  color: #0ff;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.anime-video {
  width: auto;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  border: none;
  background: #000;
}

.anime-video:hover{
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(255, 64, 129, 0.4);
}

/* === BACK BUTTON === */
.back-btn-container {
  text-align: center;
  margin-top: 50px;
}

.back-home {
  background: linear-gradient(90deg, #ff4081, #0ff);
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 450;
  text-decoration: none;
  transition: all 0.3s ease;
}

.back-home:hover {
  background: linear-gradient(90deg, #ff80ab, #ff4081);
  transform: scale(1.08);
}

/* === ERROR / LOADING === */
.error,
.loading {
  text-align: center;
  color: #ff80ab;
  font-size: 1.4rem;
  margin-top: 50px;
}