/* ========== FOOTER ========== */
  .footer {
    margin-top: 10%;
    background: #111;
    padding: 40px 20px;
    border-top: 2px solid rgb(32, 32, 32);
    color: #ddd;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    text-align: left;
  }

  .footer-section {
    max-width: 300px;
  }

  .footer-section h2 {
    color: #0ff;
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  .footer-section-about-p {
    font-size: 0.9rem;
    color: #bbb;
    line-height: 1.5;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section ul li {
    margin: 20px 10px;
  }

  .footer-section ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
  }
 
  .footer-section ul li a:hover {
    color: #0ff;
    text-decoration: underline;
  }
  
.social-icons p {
  color: #bbb;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.3s;
  margin: 0 0; 
  margin-left: 10px;
}


  .social-icons p:hover {
    color: #0ff;
    text-decoration: underline;
  }

  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
    border-top: 1px solid #0ff3;
    padding-top: 15px;
    color: #888;
  }
