.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #e9cb89, #b7bb7a, #b2ae74);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  margin-left: 2%;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.nav-links a:hover {
  color: #d5d573;
  text-shadow: 0 0 8px #dbb031;
}

.active-link {
  color: #fff;
  text-shadow: 0 0 8px #f2e7c7;
  border-bottom: 3px solid #ffc400;
}

.search-container input {
 width: 140px;
  padding: 6px 8px;
  border: none;
  background: linear-gradient(
    90deg,
    #7b7335,
    #7b7335
  );
  border-radius: 10px;
  border-bottom: 3px solid #ffbf0e;
  font-weight: bold;
  font-size: medium;
  color: black;
}

.search-container input::placeholder {
  color: #000000;
  font-weight: bold;
}

.search-container input:focus {
  outline: none;
  width: 180px;
  box-shadow: 0 0 5px #ffc400;
}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000000;
  margin-right: 20px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
}

.user-icon:hover {
  transform: scale(1.1);
}
/* ========== MOBILE NAVBAR ========== */
.navbar-mobile {
  display: none;
  flex-direction: column;
  padding: 12px 16px;
  gap: 8px;
    background: linear-gradient(
    90deg,
    #988763,
    #8f9358,
    #b2ae74
  );
  box-shadow: 0 20px 15px -5px rgba(22, 102, 118, 0.5);
  border-bottom: 1px solid #000000;
   position: sticky;
  top: 0;
  z-index: 100;
}
.mobile-logo{
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

.mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-top .mobile-search-container input {
  width: 140px;
  padding: 6px 8px;
  border: none;
  background: linear-gradient(
    90deg,
    #7b7335,
    #7b7335
  );
  border-radius: 10px;
  border-bottom: 3px solid #ffbf0e;
  font-weight: bold;
  font-size: medium;
  color: black;
}
.mobile-search-container input::placeholder{
  color: black;
}
.mobile-links {
  display: flex;
  gap: 3px;
  border-top: 3px solid #000000;
}

.mobile-links a {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  margin-top: 10px;
  margin-right: 15px;
  font-weight:900;
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
}

.mobile-links a.active-link {
  color: #ffd70f;
  border-color: #ffd70f;
}
.mobile-user-icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #000000;
  object-fit: cover;
  cursor: pointer;
}