/* ========== NAVBAR ========== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #141414;
  box-shadow: 0 20px 15px -5px rgba(85, 86, 86, 0.5);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0ff;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #f5f5f5;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffd70f;
  text-shadow: 0 0 8px #ffd70f;
}

.active-link {
  color: #ffd70f;
  text-shadow: 0 0 8px #ffd70f;
  border-bottom: 2px solid #ffd70f;
}

/* ===== SEARCH BAR ===== */
.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  width: auto;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #999;
  background: #111;
  color: #0ff;
}

.search-container input::placeholder {
  color: #05f4f490;
  padding-left: 5px;
}
