/* ========== NAVBAR ========== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
    background: linear-gradient(
    90deg,
    #e9cb89,
    #60693e,
    #aee0f6
  );
  box-shadow: 0 20px 15px -5px rgba(85, 86, 86, 0.5);
  height: 60px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-left: 20px;
}

.nav-links {
  display: flex;
  gap: 50px;
}

 .nav-links a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}


.active-link {
  color: #ffffff;
  text-shadow: 0 0 8px #f2e7c7;
  border-bottom: 5px solid #ffc400;
}

/* ===== SEARCH BAR ===== */
.search-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-container input {
  width: auto;
  padding: 8px;
  border-radius: 10px;
  border: none;
   background-color: #9ac0d0;
  border-bottom: 5px solid #000000;
  color: rgb(0, 0, 0);
}

.search-container input::placeholder {
  color: #000000;
  padding-left: 10px;
  font-weight: bold;
  font-size: large;
}
/* ========== MOBILE NAVBAR ========== */
.navbar-mobile {
  display: none;
  flex-direction: column;
  padding: 12px 16px;
  gap: 8px;
    background: linear-gradient(
    90deg,
    #e9cb89,
    #60693e,
    #aee0f6
  );
  box-shadow: 0 20px 15px -5px rgba(22, 102, 118, 0.5);
  border-bottom: 1px solid #000000;
}

.mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-top .mobile-search-container input {
  width: 140px;
  padding: 6px 8px;
  border: none;
  background: linear-gradient(
    90deg,
    #60693e,
    #57869a
  );
  border-radius: 10px;
  border-bottom: 3px solid #ffbf0e;
  font-weight: bold;
  font-size: medium;
  color: black;
}
.mobile-search-container input::placeholder{
  color: black;
}
.mobile-links {
  display: flex;
  gap: 3px;
  border-top: 3px solid #000000;
}

.mobile-links a {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  margin-top: 10px;
  margin-right: 15px;
  font-weight:900;
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
}

.mobile-links a.active-link {
  color: #ffd70f;
  border-color: #ffd70f;
}