/* ===== GLOBAL ===== */
body {
  font-family: "Segoe UI", sans-serif;
}

/* ===== ERROR & LOADING ===== */
.error-text,
.loading-text {
  text-align: center;
  font-size: 20px;
  margin-top: 80px;
  color: #444;
}

.error-text {
  color: #000000;
}

.back-name {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #2563eb;
  font-weight: 600;
}

.back-name:hover {
  text-decoration: underline;
}

/* ===== MAIN CONTAINER ===== */
.purchase-container {
  max-width: 1200px;
  margin: 60px 20px;
  padding: 30px;
  background: #d2d2d2;
  display: grid;
  grid-template-columns: 1fr 2fr 1.2fr;
  gap: 30px;
  border-radius: 14px;
}

/* ===== LEFT IMAGE ===== */
.paid-book-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paid-book-image img {
  width:200px;
  border-radius: 10px;
  object-fit: cover;
}

/* ===== MIDDLE INFO ===== */
.book-info h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111827;
}

.category {
  color: #6b7280;
  font-size: 15px;
  margin-bottom: 15px;
}

.price {
  font-size: 26px;
  font-weight: bold;
  color: #16a34a;
  margin-bottom: 8px;
}

.available {
  color: #059669;
  font-weight: 600;
  margin-bottom: 5px;
}

.shipping {
  font-size: 14px;
  color: #374151;
  margin-bottom: 20px;
}

.description {
  font-size: 15px;
  line-height: 1.6;
  color: #4b5563;
}

/* ===== RIGHT PURCHASE BOX ===== */
.purchase-box {
  background: #d6d7d7;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box-price {
  font-size: 26px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 10px;
}

/* ===== BUTTONS ===== */
.purchase-btn,
.details-btn {
  width: 100%;
  padding: 14px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}
/* purchase Now */
.purchase-btn {
  background: #488903;
  color: #ffffff;
}

.purchase-btn:hover {
  background: #0cea52;
}

/* Wishlist */
.details-btn {
  background: #ffffff;
  border: 1px solid #d1d5db;
  color: #374151;
}

.details-btn:hover {
  background: #f3f4f6;
}
.paid-book-content-header{
  margin-bottom: 15px;
  border-left: 4px solid #000000;
  color: #000000;
}

/* ===== RESPONSIVE ===== */
/* @media (max-width: 1024px) {
  .purchase-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .book-image img {
    max-width: 220px;
    margin-bottom: 20px;
  }

  .purchase-box {
    margin-top: 20px;
  }
} */
