/* ===== MOBILE PHONES ===== */
@media (max-width: 430px) {

  /* Logo small */
  .logo {
    font-size: 18px !important;
  }

  /* Hide desktop navbar links */
  .nav-links,
  .more-box {
    display: none !important;
  }

  /* Hide desktop navbar */
  .navbar {
    display: none;
  }

  /* Show mobile navbar */
  .navbar-mobile {
    display: flex;
  }

  /* Card / Book content adjustments */
  .cardHeading {
    font-size: 20px !important;
  }

  .card img {
    width: 120px;
    height: auto;
  }

  .card {
    width: 150px;
    height: auto;
  }

  .auto-slide-section {
    display: block;
    width: auto;
  }

  .card-img {
    width: 150px !important;
    height: 150px !important;
  }

  .back-btn-container {
    width: 200px;
    display: flex;
    margin: auto;
  }
  .book-name,.book-price,.buy-btn{
    margin-right: 18%;
  }

  .back-home {
    font-size: 12px !important;
    margin: auto;
  }

  .book-details {
    display: block;
  }

  .book-image {
    width: 55% !important;
    height: auto !important;
  }

  .book-info-h {
    font-size: 20px !important;
  }

  .book-info-p {
    font-size: 16px !important;
  }
}

/* ===== TABLETS ===== */
@media (min-width: 431px) and (max-width: 932px) {
  .navbar {
    display: flex;
  }
    .book-info-h {
    font-size: 20px !important;
  }
  .nav-links,
  .more-box {
    display: flex !important;
  }

  .navbar-mobile {
    display: none;
  }

  .book-details {
    display: block;
  }
}

/* ===== LARGE SCREENS ===== */
@media (min-width: 821px) {
  .navbar {
    display: flex;
    height: 80px!important;
  }

  .nav-links,
  .more-box {
    display: flex !important;
    font-size: large;
  }
  .search-container input {
    width: 200px;
    margin: auto;
    left: auto;
  }

  .navbar-mobile {
    display: none;
  }
}
@media (min-width: 430px){
  .navbar{
    display: none;
  }
   .navbar-mobile {
    display: flex;
  }
}
@media (min-width: 768px){
  .navbar{
    display: flex;
  }
   .navbar-mobile {
    display: none;
  }
}