/* ===== PROFILE PAGE ===== */
.profile-page {
  padding: 2.5rem 2rem;
  max-width: 1300px;
  margin: 0 auto;
  color: #000000;
  font-family: "Segoe UI", sans-serif;
}

/* Heading */
.profile-heading {
  text-align: left;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

/* ===== PROFILE INFO CARD ===== */
.profile-info {
  max-width: 420px;
  padding: 2rem 1.5rem;
  background: rgb(228, 228, 228);
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(199, 197, 197, 0.7);
  text-align: left;
}

/* User Icon */
.profile-user-icon {
  width: 95px;
  height: 95px;
  padding-right: 10px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: none;
  /* box-shadow: 0 0 15px rgba(244, 210, 122, 0.6); */
}

/* Profile text */
.profile-info p {
  margin: 0.4rem 0;
  font-size: 1rem;
}

.profile-info strong {
  color: #000000;
}

/* Logout Button */
.logout-btn {
  margin-top: 1.2rem;
  padding: 9px 20px;
  background: linear-gradient(135deg, rgb(41, 40, 40));
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.logout-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(55, 55, 55, 0.6);
}

/* ===== ITEM SECTIONS ===== */
.item-section {
  margin-top: 3rem;
}

.item-section-h2 {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  border-left: 4px solid #000000;
  padding-left: 12px;
}

/* Grid */
.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 22px;
}

/* ITEM Card */
.item-card {
  background: #d4d4d4;
  padding: 12px;
  border-radius: 14px;
  transition: 0.35s;
}

.item-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(202, 199, 193, 0.25);
}

.item-card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
}

.item-card p {
  font-size: 0.9rem;
  opacity: 0.9;
}.clear-btn {
  margin-left: 15px;
  padding: 5px 10px;
  background-color: #f44336; /* red */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.clear-btn:hover {
  background-color: #d32f2f;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .profile-info {
    max-width: 100%;
  }

  .item-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
